* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  font-family: 'Arial', sans-serif;
  font-size: 1.6rem; /* 16px */
  background: #1a1a1a;
  color: white;
}
